<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TertiaryHub</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>
<body>
    <nav>
        <div class="navbar">
          <i class='bx bx-menu'></i>
          <div class="logo"><a href="home">Tertiary Hub</a></div>
          <div class="nav-links">
            <div class="sidebar-logo">
              <span class="logo-name">Tertiary Hub</span>
              <i class='bx bx-x' ></i>
            </div>
            <ul class="links">
              <li><a href="home">HOME</a></li>
              <li>
                <a href="#">SERVICES</a>
                <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
                <ul class="htmlCss-sub-menu sub-menu">
                  <li><a href="check-results">RESULTS CHECKER</a></li>
                  <li><a href="tertiaries">TERTIARIES</a></li>
                  <li><a href="find-course">COURSE FINDER</a></li>
                </ul>
              </li>
              <li><a href="notice-board">NOTICE BOARD</a></li>
              <li><a href="about">ABOUT US</a></li>
              <li><a href="contact-us">CONTACT US</a></li>
              <li><a href="login">LOGIN/SIGNUP</a></li>
            </ul>
          </div>
          <div class="search-box">
            <i class='bx bx-search'></i>
            <div class="input-box">
              <input type="text" placeholder="Search...">
            </div>
          </div>
        </div>
      </nav>

      <div class="flash-messages">
        <% if (success_msg) { %>
          <div class="alert alert-success">
            <%= success_msg %>
          </div>
          <% } %>
            <% if (error) { %>
              <div class="alert alert-danger">
                <%= error %>
              </div>
              <% } %>
      </div>

      <div class="login-wrap">
        <div class="login-html">
          <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
          <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
          <div class="login-form">
            <div class="sign-in-htm">
              <form action="/auth/login" method="POST">
                <div class="group">
                  <label for="user" class="label">Email</label>
                  <input name="email" id="user" type="email" class="input">
                </div>
                <div class="group">
                  <label for="pass" class="label">Password</label>
                  <input name="password" id="pass" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                  <input id="check" type="checkbox" class="check" checked>
                  <label for="check"><span class="icon"></span> Keep me Signed in</label>
                </div>
                <div class="group">
                  <button type="submit">Login</button>
                </div>
              </form>
              <div class="hr"></div>
              <div class="foot-lnk">
                <a href="forgot-password">Forgot Password?</a>
              </div>
            </div>
            <div class="sign-up-htm">
              <form form action="/auth/signup" method="POST">
                <div class="group">
                  <label for="user" class="label">Username</label>
                  <input name="username" id="user" type="text" class="input">
                </div>
                <div class="group">
                  <label for="pass" class="label">Password</label>
                  <input name="password" id="pass" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                  <label for="pass" class="label">Repeat Password</label>
                  <input name="repeatPassword" id="pass" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                  <label for="pass" class="label">Email Address</label>
                  <input name="email" id="pass" type="text" class="input">
                </div>
                <div class="group">
                  <button type="submit">Signup</button>
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                  <label for="tab-1">Already Member?</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>




    <div class="Fcontainer">
      <div class="p1">
          <div class="d1">
              <div class="left">
                  <span id="ready">Ready for another project?</span>
                  <span id="start">Lets Get Started!!</span>
              </div>
              <div class="right">
                  <button class="footerBTN"><span>Contact us<ion-icon name="earth-outline"></ion-icon></span></button>
              </div>
          </div>
          <div class="d2">
              <div class="sub1">
                  <span id="name">TERTIARY HUB</span>
                  <span id="content">© 2024</span>
              </div>
              <div class="sub1">
                <span id="head">Navigation</span>
                <a href="index.html"><span id="content">Home</span></a>
                <a href="login-signup.html"><span id="content">Login/SignUp</span></a>
            </div>
            <div class="sub1">
                <span id="head">Company</span>
                <a href="about us.html"><span id="content">About us</span></a>
                <a href="contact us.html"><span id="content">Our Contacts</span></a>
            </div>
            <div class="sub1">
                <span id="head">Services</span>
                <a href="UNIs.html"><span id="content">Tertiaries</span></a>
                <a href="WASSCE Checker.html"><span id="content">WASSCE Checker</span></a>
            </div>
              <div class="sub2">
                  <span id="head">Follow us on</span>
                  <div class="logos">
                      <div class="cir"><ion-icon name="logo-facebook"></ion-icon></div>
                      <div class="cir"><ion-icon name="logo-twitter"></ion-icon></div>
                      <div class="cir"><ion-icon name="logo-instagram"></ion-icon></div>
                      <div class="cir"><ion-icon name="logo-linkedin"></ion-icon></div>
                      <div class="cir"><ion-icon name="mail-outline"></ion-icon></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <div class="credit">By <strong>The Codecleavers</strong></div>

  <script src="/js/script.js"></script>
</body>
</html>