<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TertiaryHub</title>
    <link rel="stylesheet" href="/css/tertiaries-style.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>
<body>
    <nav>
        <div class="navbar">
            <i class='bx bx-menu'></i>
            <div class="logo"><a href="home">Tertiary Hub</a></div>
            <div class="nav-links">
                <div class="sidebar-logo">
                    <span class="logo-name">Tertiary Hub</span>
                    <i class='bx bx-x'></i>
                </div>
                <ul class="links">
                    <li><a href="home">HOME</a></li>
                    <li>
                        <a href="#">SERVICES</a>
                        <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
                        <ul class="htmlCss-sub-menu sub-menu">
                            <li><a href="check-results">RESULTS CHECKER</a></li>
                            <li><a href="tertiaries">TERTIARIES</a></li>
                            <li><a href="find-course">COURSE FINDER</a></li>
                        </ul>
                    </li>
                    <li><a href="notice-board">NOTICE BOARD</a></li>
                    <li><a href="about">ABOUT US</a></li>
                    <li><a href="contact-us">CONTACT US</a></li>
                    <li><a href="login">LOGIN/SIGNUP</a></li>
                </ul>
            </div>
            <div class="search-box">
                <i class='bx bx-search'></i>
                <div class="input-box">
                    <input type="text" placeholder="Search...">
                </div>
            </div>
        </div>
    </nav>

    <div class="hero-banner">
        <h1>Buy from any part of the country</h1>
    </div>

    <div class="schools">
        <h2>Public Universities</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="/images/tertiaries/Accra-Technical-University.jpg" alt="School 1 Logo" class="school-logo">Accra Technical University</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-ATU">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/AAMUSTED.jpg" alt="School 2 Logo" class="school-logo"> Akenten Appiah-Menka University of Skill Training and Entrepreneurial Development</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-AAMUSTED">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/Cape Coast Technical University.jpg" alt="School 3 Logo" class="school-logo"> Cape Coast Technical University</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-CCTU">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/Ghana Communication Technology University.jpg" alt="School 1 Logo" class="school-logo"> Ghana Communication Technology University</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-GCTU">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/Ghana Institute of Management and Public Administration.jpg" alt="School 2 Logo" class="school-logo"> Ghana Institute of Management and Public Administration</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-GIMPA">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/Ho Technical University.jpg" alt="School 1 Logo" class="school-logo"> Ho Technical University</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-HTU">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/Koforidua Technical University.jpg" alt="School 2 Logo" class="school-logo"> Koforidua Technical University</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-KfTU">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/Kumasi Technical University.jpg" alt="School 3 Logo" class="school-logo"> Kumasi Technical University</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-KTU">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/Kwame Nkrumah University of Science and Technology.jpg" alt="School 1 Logo" class="school-logo"> Kwame Nkrumah University of Science and Technology</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-KNUST">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/Simon Diedong Dombo University of Business and Integrated Development Studies.jpg" alt="School 2 Logo" class="school-logo"> Simon Diedong Dombo University of Business and Integrated Development Studies</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-SIMON">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/Sunyani Technical University.jpg" alt="School 3 Logo" class="school-logo"> Sunyani Technical University</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-STU">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/Tamale Technical University.jpg" alt="School 1 Logo" class="school-logo"> Tamale Technical University</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-TTU">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/Takoradi Technical University.jpg" alt="School 1 Logo" class="school-logo"> Takoradi Technical University</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-TkTU">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/University for Development Studies.jpg" alt="School 2 Logo" class="school-logo"> University for Development Studies</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-UDS">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/UCC.jpg" alt="School 3 Logo" class="school-logo"> University of Cape Coast</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-UCC">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/UEW.jpg" alt="School 1 Logo" class="school-logo"> University of Education, Winneba</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-UEW">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/UENR.jpg" alt="School 2 Logo" class="school-logo"> University of Energy and Natural Resources</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-UENR">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/University of Ghana.jpg" alt="School 3 Logo" class="school-logo"> University of Ghana</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-UG">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/University of Health and Allied Sciences.jpg" alt="School 1 Logo" class="school-logo"> University of Health and Allied Sciences</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-UHAS">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/University of Media, Arts and Communication.jpg" alt="School 2 Logo" class="school-logo"> University of Media, Arts and Communication</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-UMAC">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/University of Mines and Technology.jpg" alt="School 3 Logo" class="school-logo"> University of Mines and Technology</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-UMT">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/University of Professional Studies.jpg" alt="School 3 Logo" class="school-logo"> University of Professional Studies</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-UPS">Get Form</button></td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>

        <h2>Private Universities</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="/images/tertiaries/Evangelical Presbyterian University College.jpeg" alt="School 1 Logo" class="school-logo"> Evangelical Presbyterian University College</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-EPUC">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/All Nations University.jpg" alt="School 2 Logo" class="school-logo"> All Nations University</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-ANU">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/Data Link University.webp" alt="School 3 Logo" class="school-logo"> Data Link University</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-DLU">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/Heritage Christian University College.jpeg" alt="School 1 Logo" class="school-logo"> Heritage Christian University College</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-HCUC">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/Kaaf University College.png" alt="School 2 Logo" class="school-logo"> Kaaf University College</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-KAAF">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/University of Environment and Sustainable Development.jpeg" alt="School 3 Logo" class="school-logo"> University of Environment and Sustainable Development</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-UESD">Get Form</button></td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>

        <h2>Public Nursing Training & Teacher Training Colleges</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="/images/tertiaries/Public Nursing Training.jpeg" alt="School 1 Logo" class="school-logo"> Colleges Of Nursing and Midwifery</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-NURSING">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/Colleges OF Education.jpeg" alt="School 2 Logo" class="school-logo"> Colleges Of Education</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-TEACHING">Get Form</button></td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>

        <h2>Private Teacher Training Colleges</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="/images/tertiaries/TERTIARY.jpeg" alt="School 1 Logo" class="school-logo"> Christ The teacher Training College</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-CTTTC">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/Holy Spirit College.jpeg" alt="School 2 Logo" class="school-logo"> Holy Spirit College</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-HSC">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/Jackson Teacher training college.jpeg" alt="School 3 Logo" class="school-logo"> Jackson Teacher Training College</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-JTTC">Get Form</button></td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>

        <h2>Private Nursing Training Colleges</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="/images/tertiaries/TERTIARY.jpeg" alt="School 1 Logo" class="school-logo"> Modals Nursing College</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-MNC"> Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/Narh Bita College.jpeg" alt="School 2 Logo" class="school-logo"> Narh Bita College</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-NARH">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/Oak City International College.jpeg" alt="School 3 Logo" class="school-logo"> Oak City International College</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-OAK">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/Potters Nursing College.jpeg" alt="School 1 Logo" class="school-logo"> Potters Nursing College</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-POTTERS">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/Rans Elliott Nursing College.jpeg" alt="School 2 Logo" class="school-logo"> Rans Elliott Nursing College</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-RANS">Get Form</button></td>
                </tr>
                <tr>
                    <td><img src="/images/tertiaries/Withrow Nursing College.jpeg" alt="School 3 Logo" class="school-logo"> Withrow Nursing College</td>
                    <td>₵250</td>
                    <td><button data-modal="institutionModal-WITHROW">Get Form</button></td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>

        
    </div>





    <!-- Modal for Institution Details -->
<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Accra Technical University</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Accra Technical University (ATU) is a public university located in Accra, Ghana. It was originally established as a Technical Institute in 1949 and later upgraded to a Technical University in 2016. ATU is known for its focus on providing technical and vocational education and training in various fields.
            The university offers a wide range of undergraduate and postgraduate programs, including degrees in engineering, applied sciences, business administration, and arts. ATU also offers certificate and diploma programs in technical and vocational fields.
            ATU is known for its strong emphasis on hands-on practical training, with state-of-the-art facilities and workshops for students to gain real-world experience in their chosen fields. The university also has strong partnerships with industry and the private sector, providing students with opportunities for internships, industrial attachments, and job placements.
            ATU is committed to producing skilled professionals who can contribute to the development of Ghana's technical and vocational sectors, with a focus on innovation, entrepreneurship, and sustainable development. The university also places a strong emphasis on research and development to address the technological and industrial challenges facing the country.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">AAMUSTED</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">The Akenten Appiah-Menka University of Skills Training and Entrepreneurial Development (AAMUSTED) is a university in Ghana that focuses on providing practical skills training and entrepreneurial education to its students. The university aims to equip students with the knowledge and skills needed to succeed in the workforce and to become successful entrepreneurs. AAMUSTED offers a range of programs and courses in areas such as business, technology, agriculture, and vocational skills, with a focus on hands-on learning and real-world application. The university also provides support and resources for students to develop their entrepreneurial ideas and launch their own businesses. AAMUSTED is committed to promoting economic development and self-reliance through education and skills training.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Cape Coast Technical University</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Cape Coast Technical University is a unique University that is committed to training of highly skilled human resource in Engineering, Applied Sciences and Technology, Applied Arts and Business in close collaboration with the industries and commerce. Cape Coast Technical University (CCTU), formerly Cape Coast Polytechnic was established in 1984 as a second cycle institution.
            In 1986, it operated under the Ghana Education Service (GES) to offer intermediary courses leading to the award of non-tertiary certificates. Following the enactment of the Polytechnic Law (PNDCL 321) in 1992, the University was upgraded to a tertiary level to run programmes in various disciplines leading to the award of Higher National Diplomas (HND) in Engineering, Business and Applied Sciences and Arts awarded by the National Board for Professional and Technician Examination (NABPTEX).
            Currently, as a Technical University, and per the Technical Universities Act, 2016 (Act 922), as amended, in 2018 Act (Act 974), Cape Coast Technical University is mandated to provide higher education in Engineering, Applied Sciences and Arts, Technical and Vocational Education and Training and other related disciplines. The aim is to train students to be academically and technically balanced in order to match the challenges of the new century.
            The University offers Master of Technology programmes, four (4) year Bachelor Degree, Bachelor of Technology (Top-Ups), Higher National Diploma, Professional Diploma and other Diploma Programmes. The University has six (6) Schools, which are made up of; School of Engineering, School of Applied Arts, School of Applied Sciences and Technology, School of Built and Natural Environment, School of Business and Management Studies and School of Graduate Studies. The Schools are each headed by a Dean and sub-divided into eighteen (18) academic departments. There are plans to obtain the requisite accreditation for the running of Doctor of Technology programmes in the near future.``
            The University also has Directorates, Sections and Units, which contribute to the teaching and learning processes. The University now has as its focus to be a leading, innovative, and entrepreneurial Technical University with local, national and global influence.
            It has a serene environment conducive for teaching and learning with beautiful sights. The University is located at Eyifua in the north constituency of the Cape Coast Metropolis, the capital city of the Central Region of Ghana. Since its inception, the University has become an excellent academic centre for the training of manpower for the industries in Ghana and beyond.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Ghana Communication Technology University</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Ghana Communication Technology University (GCTU) is a technology-oriented institution of higher learning, committed to providing an educational experience of the highest quality. Established in November 2005, GCTU was granted accreditation by the National Accreditation Board (NAB) on March 30, 2006, and officially inaugurated on August 15, 2006, gaining full public University status on 13th August 2020. The University is governed by a University Council, supported by the Vice-Chancellor- himself a member of the Council, the Pro-Vice-Chancellor, Registrar, Deans of Faculties, and staff.
            GCTU has partnerships with Coventry University, UK, Anhalt University of Applied Sciences, Germany, and Ramaiah University of Applied Sciences, India among others. Through these partnerships, the University has placed an increasingly fervent emphasis on the concept of Transnational education, a model which has delivered a host of benefits for students, faculty and the institution as a whole.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Ghana Institute of Management and Public Administration</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">The Ghana Institute of Management and Public Administration (GIMPA) is a public university located in Accra, Ghana. It is known for its focus on providing education and training in the fields of management, public administration, law, and related disciplines.

            GIMPA offers a wide range of undergraduate and postgraduate programs, including degrees in business administration, public administration, law, and international relations. The university also offers professional development and executive education programs for working professionals.
            
            GIMPA is known for its strong emphasis on practical and applied learning, with a focus on developing the leadership and management skills of its students. The university also has strong ties to the public and private sectors, with a focus on providing students with opportunities for internships, industry placements, and networking opportunities.
            
            GIMPA is committed to producing skilled professionals who can contribute to the development of Ghana and beyond, with a focus on ethical leadership, good governance, and sustainable development. The university also places a strong emphasis on research and innovation to address the challenges and opportunities in the fields of management and public administration.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Ho Technical University</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Ho Technical University (HTU), formerly known as Ho Polytechnic, stands as a premier tertiary institution situated in the heart of the Volta Region, Ghana. Established in 1968, HTU has continually evolved to become a beacon of academic excellence, technological innovation, and professional development.
            Dedicated to providing high-quality education, HTU offers a diverse range of programs across various fields, including Engineering, Applied Sciences, Business, Arts, and Technology. The institution prides itself on its commitment to academic rigor, practical learning, and research, preparing students to excel in their chosen careers and contribute meaningfully to society.
            With a focus on holistic development, HTU nurtures a dynamic learning environment that encourages critical thinking, creativity, and problem-solving skills. The university's state-of-the-art facilities, experienced faculty, and industry partnerships further enrich the academic experience, ensuring students are well-equipped for the ever-evolving demands of the global workforce.
            At HTU, our mission is to empower the next generation of leaders, innovators, and professionals through transformative education, fostering a culture of lifelong learning and excellence.
            Join us at Ho Technical University, where knowledge meets innovation, and aspirations turn into achievements.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Koforidua Technical University</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Nestled in Koforidua, Ghana, Koforidua Technical University (KTU) is a beacon of innovation and technical prowess. Offering specialized programs in technology, engineering, and applied sciences, KTU is committed to practical education, fostering a community of creative problem-solvers ready to thrive in the modern world.
            KTU is not just an institution; it's a launchpad for forward-thinking professionals, blending academic excellence with hands-on learning. Our graduates are equipped with the skills and vision to drive progress and make an impact in a rapidly evolving technological landscape.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Kumasi Technical University</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Kumasi Technical University (KsTU) is a prominent institution dedicated to technical and vocational education. Located in Kumasi, Ghana, KsTU offers a diverse range of programs in technology, applied sciences, engineering, and related fields. Established to provide practical and hands-on learning, KsTU focuses on producing skilled professionals equipped to meet the demands of the modern workforce. With a commitment to academic excellence and innovation, KsTU prepares students for successful careers in various technical disciplines.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">KNUST</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Kwame Nkrumah University of Science and Technology (KNUST) is a public university located in Kumasi, Ghana. It was established in 1952 as the Kumasi College of Technology and was granted full university status in 1961. KNUST is known for its focus on science and technology education and research, and it offers a wide range of undergraduate and postgraduate programs in fields such as engineering, computer science, natural resources, architecture, business, and more.
            The university has a strong reputation for academic excellence and is considered one of the top universities in Ghana and the West African sub-region. It has a diverse and vibrant campus community, with students from various backgrounds and nationalities. KNUST also has a strong emphasis on research and innovation, with several research centers and institutes dedicated to advancing knowledge in various fields.
            KNUST is also known for its strong ties to industry and the business community, with many of its graduates going on to successful careers in their respective fields. The university has also been involved in various community development projects and initiatives, contributing to the social and economic development of Ghana.
            Overall, KNUST is a leading institution in science and technology education in Africa, and it continues to play a significant role in shaping the future of Ghana and the continent as a whole.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Simon Diedong Dombo University of Business and Integrated Development Studies</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Simon Diedong Dombo University of Business and Integrated Development Studies (SDD-UBIDS) is a public university located in Wa, Upper West Region, Ghana. It was established in 2011 and named after Simon Diedong Dombo, a prominent Ghanaian politician and statesman.
            SDD-UBIDS is focused on providing education and research in business, entrepreneurship, and integrated development studies. The university offers a variety of undergraduate and postgraduate programs in fields such as business administration, economics, development studies, and more.
            The university has a strong commitment to promoting entrepreneurship and innovation, with a focus on addressing the development challenges facing the Upper West Region and beyond. SDD-UBIDS also emphasizes community engagement and outreach, working closely with local communities to contribute to their social and economic development.
            SDD-UBIDS is known for its dedication to providing quality education and research opportunities in the areas of business and integrated development. The university aims to produce graduates who are equipped with the knowledge and skills to contribute to the sustainable development of Ghana and beyond.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Sunyani Technical University</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Sunyani Technical Institute (SUTECH), established in 1967, initially focused on technical and vocational education. It evolved into Sunyani Polytechnic (SPOLY) in 1997, offering tertiary education, including Higher National Diploma (HND). In 2016, it became Sunyani Technical University (STU) under the Technical Universities Act 2016. STU provides higher education in diverse disciplines, necessitating reforms in governance, program alignment, and infrastructure investment. Strategic plans have guided its growth, with the current focus on a new plan for 2020–2025.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Tamale Technical University</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Tamale Technical University (TaTU), located in the vibrant city of Tamale in the Northern Region of Ghana, stands as a distinguished institution dedicated to fostering academic excellence and technological advancement. Formerly known as Tamale Polytechnic, TaTU has a rich history dating back to its establishment in 1951.
            TaTU offers a diverse array of programs spanning Engineering, Applied Sciences, Business, Arts, and Technology, ensuring students receive a well-rounded education that aligns with modern industry needs. With a strong emphasis on practical skills and experiential learning, the university equips its students with the knowledge and expertise needed to excel in their chosen fields.
            Committed to providing quality education, TaTU boasts a faculty of experienced professionals and scholars who are passionate about nurturing talent and guiding students toward success. The university's modern facilities, laboratories, and workshops facilitate hands-on learning and research, enabling students to apply theoretical knowledge to real-world scenarios.
            At TaTU, we prioritize innovation, critical thinking, and community engagement. Our institution serves as a hub for creativity and problem-solving, encouraging students to explore new ideas, develop entrepreneurial skills, and contribute positively to societal development.
            Tamale Technical University is dedicated to shaping future leaders, thinkers, and change-makers. Join us on a journey of academic excellence and discovery, where education transforms into opportunities.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Takoradi Technical University</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">The Takoradi Technical University was established in September, 2016, as a result of the government’s policy to convert Takoradi Polytechnic, among five other Polytechnics, to the status of Technical University. In effect, since April 1954, Takoradi Technical University (formerly Takoradi Polytechnic) has existed as a Government Technical Institute under the Ghana Education Service of the Ministry of Education.
            During that period, the institute offered programmes mainly at the Craft and Technician Certificate levels in commercial and technical subjects, awarding Royal Society of Arts (RSA) and City and Guilds of London, United Kingdom. However, in 1990, the Ghana Education Service took over the awards of the above-mentioned certificates.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">University for Development Studies</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">The University for Development Studies (UDS) is Ghana’s first public University in the North. It was established by the Government of Ghana by PNDC Law 279 and gazette on 15th May, 1992 with aims:

            to provide higher education to all persons suitably qualified and capable of benefiting from such education;
            to undertake research and promote the advancement and dissemination of knowledge and its application to the needs and aspirations of the people of Ghana; and
            to blend the academic world with that of the community in order to provide constructive interaction between the two for the total development of northern Ghana in particular and the country as a whole.
            The pedagogical philosophy of UDS is said to have been borne out of a new thinking in higher education emphasizing the need for universities as teaching and research institutions to play more active role in addressing societal problems (especially rural areas) for speedy development.
            The University by its mandate and constituency has a pro-poor focus and this is reflected in its methodology of teaching, research and outreach services. The specific emphasis on practically-oriented, research and field-based training is aimed at contributing towards poverty reduction in order to accelerate national development.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">University of Cape Coast</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">The University of Cape Coast was established in October, 1962 as a University College and placed in a special relationship with the University of Ghana, Legon. On October 1, 1971, the College attained the status of a full and independent University, with the authority to confer its own degrees, diplomas and certificates by an Act of Parliament - The University of Cape Coast Act, 1971 [Act 390] and subsequently the University of Cape Coast Law, 1992 [PNDC Law 278].
            There is currently a draft Bill to amend the University of Cape Coast Law, 1992 (PNDCL 278) which repealed the University of Cape Coast, Act 1971 (Act 390), the University of Cape Coast (Amendment) Law, 1990 (P.D.C.L. 241) and the University of Cape Coast (Interim Administration Committee) Law, 1990 (P.N.D.C.L. 243) which established the University as an institution of higher learning.
            It is expected that, when the Bill is subsequently passed into law, the original mandate of the University would be reviewed to make room for training of personnel in other disciplines to ensure that the focus of the University is widened.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">University of Education, Winneba</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">The University of Education, Winneba (UEW) was established in September, 1992 as a University College under PNDC Law 322. On 14th May, 2004 the University of Education Act, Act 672 was enacted to upgrade the status of the University College of Education of Winneba to the status of a full University.
            The University College of Education of Winneba brought together seven diploma awarding colleges located in different towns under one umbrella institution. These Colleges were the Advanced Teacher Training College, the Specialist Training College and the National Academy of Music, all at Winneba; the School of Ghana Languages, Ajumako; the College of Special Education, Akwapim-Mampong; the Advanced Technical Training College, Kumasi; and the St. Andrews Agricultural Training College, Mampong-Ashanti.
            The three sites in Winneba now referred to as the Winneba campus is the seat of the Vice-Chancellor with a satellite campus at Ajumako.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">University of Energy and Natural Resources</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">The University of Energy and Natural Resources (UENR) was established by an Act of Parliament, Act 830, 2011 on December 31, 2011. The University is a public funded national institution which seeks to provide leadership and management of energy and natural resources and be a centre of excellence in these critical areas. The University approaches its programmes and research emphasizing interdisciplinary collaboration and taking into account, areas such as economics, law and policy, management, science, technology and engineering as well as social and political issues affecting energy and natural resources.
            Prior to the passing of the bill establishing the University into law, the then President, the late Prof. J.E.A Mills set up a National Task Force Planning Committee on January 8, 2010 with the mandate to develop, organize and supervise the implementation of the programme for the establishment of the two new Universities at Volta and Brong Ahafo Regions. The 24-member Task Force was chaired by Prof. Samuel Kofi Sefah-Dedeh, a former Dean of the Faculty of Engineering Services, University of Ghana with Hon. Dr. Christina Amoako-Nuamah of the Office of the President, Castle Osu as the convener. Following the recommendations of the Committee, the former President, Prof. J.E.A Mills cut the sod for the commencement of the University at Sunyani on February 8, 2011.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">University of Ghana</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">The University of Ghana, situated in Accra, stands as a symbol of academic excellence and intellectual growth. With a legacy dating back to 1948, the university offers a diverse range of programs across various disciplines, fostering a vibrant learning environment and a culture of innovation.
            Renowned for its commitment to scholarly research and global standards of education, the University of Ghana provides a platform where students engage in rigorous academic pursuits, critical thinking, and holistic development. The institution's legacy of producing leaders and change-makers resonates both locally and internationally.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">University of Health and Allied Sciences</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">The University of Health and Allied Sciences (UHAS) was established in 2011 through an Act of Parliament in Ghana, with a focus on becoming a leading health education institution dedicated to community service. It started with 154 students in 2012, operating across two campuses in Ho and Hohoe. UHAS is the first public university in the Volta Region and is solely dedicated to training healthcare professionals.
            The university offers undergraduate and postgraduate programs across eight schools, including Allied Health Sciences, Basic and Biomedical Sciences, Dentistry, Medicine, Nursing and Midwifery, Pharmacy, Public Health, and Sports and Exercise Medicine. Additionally, it has two institutes for Health Research and Traditional and Alternative Medicine, with plans for a third institute in Medical Education.
            UHAS emphasizes high standards of behavior and traditional values to foster lifelong learning and academic achievement. It aims to prepare students as global citizens, equipped to navigate a changing world. The university's ethos focuses on academic success within a community that supports learning, diversity, and personal development. The goal is to nurture socially and academically adept individuals with confidence, motivation, and empathy toward others.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">University of Media, Arts and Communication</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Established by the University of Media, Arts and Communication Act, 2020 (Act 1059), the University is a merger of the erstwhile Ghana Institute of Journalism, established in 1959, the National Film and Television Institute, established in 1978 and the Ghana Institute of Languages, established in 1961.
            The Act envisages a holding University with constituent institutes with the power to award degrees of the holding University.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">University of Mines and Technology</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">The University of Mines and Technology (UMaT) is a university in Tarkwa, Ghana, focused on providing education and training in the fields of mining, technology, and related disciplines. UMaT offers undergraduate and postgraduate programs in areas such as mining engineering, mineral engineering, geomatic engineering, mechanical engineering, electrical and electronic engineering, and computer science. The university also offers programs in business and management related to the mining industry.
            UMaT is known for its strong emphasis on practical and hands-on training, with state-of-the-art facilities and laboratories for students to gain real-world experience. The university also collaborates with industry partners to provide students with internships, industrial attachments, and research opportunities.
            UMaT is committed to producing skilled professionals who can contribute to the sustainable development of the mining and technology sectors in Ghana and beyond. The university also places a strong emphasis on research and innovation to address the challenges and opportunities in the fields of mining and technology.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">University of Professional Studies</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">University of Professional Studies
            The University of Professional Studies, Accra (UPSA) is a leading institution specializing in business, finance, and related disciplines. Established in 1965, UPSA has a strong focus on practical learning and academic excellence. Located in Accra, Ghana's capital, UPSA offers a wide range of undergraduate and postgraduate programs. The university emphasizes industry relevance and ethical education, preparing students to excel in the dynamic world of business.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Evangelical Presbyterian University College</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Situated in Ho, Ghana, the Evangelical Presbyterian University College (EPUC) offers a unique blend of academic excellence and Christian values. Founded by the Evangelical Presbyterian Church, EPUC is dedicated to fostering well-rounded individuals who can contribute meaningfully to society. Their curriculum emphasizes both intellectual development and spiritual growth, preparing students for successful careers and a life of service. Accredited programs cover a range of disciplines, including Business Administration, Theology, Pastoral Ministry and Church Management, and more.
            Beyond academics, EPUC fosters a vibrant campus community that encourages spiritual development and social responsibility. Through chapel services, student organizations, and community outreach programs, students have the opportunity to connect with their faith and make a positive impact on the world around them. EPUC equips graduates not just with professional skills but also with the ethical foundation and compassion to become responsible leaders in their chosen fields.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">All Nations University</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Nestled in the outskirts of Koforidua, Ghana, All Nations University (ANU) stands as a beacon of holistic education. Inspired by the motto "Equipped for every good work" (2 Timothy 3:17), ANU fosters an environment that integrates academic excellence with Christian values and technological innovation. Established in 2002, the university has grown from humble beginnings to a thriving institution with over 3500 students.
            ANU offers a diverse range of accredited programs at the undergraduate and graduate levels. From Business Administration and Computer Science to Theology and Missions, their curriculum emphasizes both theoretical knowledge and practical application. Students gain valuable experience through internships, research opportunities, and community service projects, preparing them for successful careers and leadership roles. ANU's commitment extends beyond academics, fostering a vibrant campus life that encourages spiritual growth, personal development, and intercultural understanding. With a diverse student body representing various nationalities, ANU prepares graduates to become responsible leaders who can make a positive impact in a globalized world.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Data Link University</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Data Link University, a prominent institution in Tema, Ghana, has carved a niche in technology-driven and career-focused education. Established in 1993, the university has evolved from a charitable institute to a leading provider of undergraduate and graduate programs. Data Link prides itself on its practical approach, equipping students with the necessary skills to excel in today's dynamic job market.
            Their accredited programs encompass diverse fields within Business and Information Technology. From core subjects like Computer Science and Information Systems to specialized areas like Business Administration with various concentrations, Data Link's curriculum emphasizes both theoretical understanding and practical application. Students benefit from a blend of classroom learning, hands-on projects, industry internships, and cutting-edge facilities, ensuring they graduate with the technical expertise and real-world experience employers seek. Data Link University bridges the gap between academics and professional success, empowering graduates to become confident and adaptable professionals who can contribute meaningfully to the ever-evolving technological landscape.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Heritage Christian University College</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Heritage Christian University College (HCU) in Kumasi, Ghana, offers a unique educational experience that integrates academic excellence with strong Christian values. Founded upon the principle of "advancing the kingdom of Christ and national development," HCU fosters a vibrant learning environment where students can grow intellectually, spiritually, and professionally. Their accredited programs encompass a range of disciplines, including Business Administration, Information Technology, and Theology.
            HCU's approach prioritizes both theoretical knowledge and practical application. Students benefit from a dedicated faculty with extensive experience in their fields. The curriculum incorporates classroom learning, hands-on projects, and opportunities for serving the community. This holistic approach equips graduates with the skills and character needed to become responsible leaders who can make a positive impact in their chosen careers and communities.
            Beyond academics, HCU fosters a supportive and Christ-centered campus life. Through chapel services, student organizations, and ministry opportunities, students have the chance to deepen their faith, connect with like-minded individuals, and develop their leadership skills. HCU graduates emerge not only with the knowledge and skills for professional success but also with a strong moral compass and a commitment to serving God and their fellow man.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Kaaf University College</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Located in Budumburam, Ghana, Kaaf University College (KUC) stands as a pioneer in specialized higher education. Founded by Michael Aidoo in 2007, KUC has a distinguished history as the first private university in Ghana accredited to offer degree programs in Civil Engineering, Construction Technology, Geomatic Engineering, and Mechanical Engineering. Today, the college has expanded its offerings to encompass a wider range of disciplines, including Business Administration, Law, and Nursing.
            KUC prides itself on its commitment to producing well-rounded, employable graduates. Their curriculum balances rigorous academic instruction with a strong emphasis on practical skills development. Students benefit from a combination of classroom lectures, laboratory experiments, industry internships, and real-world projects, equipping them with the technical expertise and problem-solving abilities required for success in their chosen fields. Beyond academics, KUC fosters a supportive learning environment that encourages collaboration, critical thinking, and ethical leadership. With a dedicated faculty and a focus on personalized attention, KUC empowers students to reach their full potential and become catalysts for socio-economic development in Ghana and beyond.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">University of Environment and Sustainable Development</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">The University of Environment and Sustainable Development (UESD), situated in Somanya, Ghana, stands as a leading institution dedicated to environmental education and its role in sustainable development. Established in 2020, UESD is a young and dynamic university at the forefront of tackling environmental challenges facing Ghana and the world. Their mission is to equip students with the knowledge, skills, and critical thinking necessary to become responsible stewards of the environment and drive positive change.
            UESD offers a unique range of accredited undergraduate and postgraduate programs. These programs delve into various aspects of environmental science, management, and sustainability. From programs like Climate Change and Development to Renewable Energy Engineering and Natural Resource Management, UESD's curriculum equips students with the expertise to address critical environmental issues. The university emphasizes a blend of theoretical learning, practical field studies, and research opportunities. Students gain valuable experience through on-site projects, community outreach initiatives, and collaborations with leading environmental organizations.
            UESD goes beyond academics by fostering a vibrant campus community committed to sustainability. Their campus incorporates eco-friendly practices, and they actively promote environmental awareness through seminars, workshops, and community engagement programs. UESD graduates emerge not only with the technical skills to pursue careers in environmental fields but also with a strong sense of environmental responsibility and the ability to lead the charge towards a more sustainable future.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName"> Colleges Of Nursing and Midwifery</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Short Description</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Colleges Of Education</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Short Description</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Christ the teacher training college</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Christ the Teacher Training College is a prestigious institution dedicated to shaping passionate and dedicated educators. Founded on Christian principles, the college fosters a nurturing environment that equips future teachers with the skills and knowledge to inspire young minds. Their rigorous academic programs emphasize both pedagogical expertise and strong moral character. Graduates leave Christ the Teacher Training College not only prepared to excel in the classroom but also equipped to guide and mentor their students with compassion and integrity.
            The college curriculum integrates theory and practice, providing students with a solid foundation in pedagogy, subject matter expertise, and classroom management. Through hands-on experiences, including teaching practicums in local schools, students develop essential teaching skills under the guidance of experienced faculty. Christ the Teacher Training College fosters a collaborative learning environment where students learn from each other and develop a strong network of future colleagues. With a focus on rural education, the college prepares graduates to make a significant impact in underserved communities, fostering a love for learning in the next generation.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Holy Spirit College</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Holy Spirit College is a Catholic co-educational institution dedicated to fostering academic excellence and spiritual growth in its students. Rooted in the values of Jesus Christ, the college provides a supportive and inclusive environment where students can reach their full potential. Combining a rigorous curriculum with a strong emphasis on moral development, Holy Spirit College equips its graduates with the knowledge, skills, and values needed to thrive as responsible citizens and leaders in a globalized world.
            The college offers a comprehensive educational program that caters to students from diverse backgrounds and aspirations. From the early years of secondary education to preparing for tertiary studies, Holy Spirit College provides a nurturing environment that fosters intellectual curiosity, critical thinking, and a lifelong love of learning. Committed to holistic development, the college also encourages students to participate in extracurricular activities, social justice initiatives, and spiritual exploration. This ensures students graduate with a well-rounded education that prepares them for academic success and meaningful contributions to society.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Jackson Teacher training college</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Jackson College of Education (JCE) is a leading provider of distance learning teacher training programs in Ghana. Established by accomplished educators with extensive experience in both universities and secondary schools, JCE offers a unique approach to equipping aspiring teachers with the necessary skills and knowledge.
            The college prioritizes flexibility and accessibility through its innovative distance learning model. This allows individuals from diverse backgrounds and locations to pursue their teaching aspirations without geographical constraints. JCE's programs are designed to be rigorous yet manageable, catering to working adults and individuals seeking a career change. JCE emphasizes both academic excellence and practical application, preparing graduates to confidently enter the classroom and make a positive impact on their students.
            JCE's curriculum combines theoretical knowledge with real-world scenarios, ensuring graduates are well-equipped to address the challenges of contemporary education. The college fosters a supportive learning environment where students can collaborate and learn from experienced faculty, even in a remote setting. JCE graduates emerge as well-rounded educators, ready to lead and inspire the next generation of Ghanaian learners.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Modals Nursing College</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Modals Nursing College, a respected institution in Seattle, Washington, fosters a nurturing learning environment that empowers students to become skilled and compassionate nurses. Their dedicated faculty, with extensive experience in various healthcare settings, guides students through accredited programs that combine a strong theoretical foundation with practical training. This blend equips graduates with the knowledge and confidence to excel in diverse nursing specialties.
            Modals Nursing College's commitment extends beyond academics. They offer personalized mentorship opportunities, ensuring each student receives the support they need to flourish. Their career services department further assists graduates in finding rewarding positions within the healthcare field. From the classroom to the bedside, Modals Nursing College prepares students to make a lasting impact on the lives of patients and communities.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Narh Bita College</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Established in Tema, Ghana in 1979, Narh Bita College has a rich history of nurturing healthcare professionals. Their journey began with the Narh-Bita Clinic, which later expanded into a hospital, highlighting their commitment to serving the community. Today, the college offers a diverse range of accredited programs, from diplomas in nursing to medical laboratory technology. Their approach emphasizes both theoretical knowledge and practical skills, equipping students through simulations, clinical rotations, and advanced labs. This ensures graduates are well-prepared to excel in various healthcare specialties and contribute meaningfully to the Ghanaian healthcare system.
            Narh Bita College goes beyond academics, fostering a supportive learning environment. Dedicated faculty members with real-world experience guide students on their journey. The college offers a strong sense of community through mentorship programs and fosters student success through personalized support. Additionally, their career services department equips graduates with the tools they need to secure rewarding positions within the healthcare field. From education to career placement, Narh Bita College empowers individuals to make a positive impact on the lives of patients and their community.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Oak City International College</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Situated in the vibrant city of Accra, Ghana, Oak City International College stands as a beacon of opportunity for aspiring healthcare professionals. Renowned for its student-centered approach, the college fosters a nurturing environment that empowers individuals to become skilled and dedicated nurses. Their accredited programs combine a robust theoretical foundation with practical, hands-on experiences. Students gain valuable skills through simulations, clinical rotations in reputable healthcare facilities, and advanced skills labs, preparing them to confidently excel in various nursing specialties.
            Oak City International College goes beyond academics, prioritizing the success of each student. Dedicated faculty members offer personalized mentorship and support, fostering a sense of community and growth. The college further empowers graduates by providing them with career guidance and placement services, ensuring a smooth transition into rewarding positions within the Ghanaian healthcare system. By equipping students with the knowledge, skills, and confidence to thrive in their careers, Oak City International College prepares them to make a significant impact on the lives of patients and communities they serve.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Potters Nursing College</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Potters Nursing College fosters a nurturing learning environment that empowers students to become compassionate and skilled nurses. Their dedicated faculty, with a wealth of experience in the healthcare field, guides students through accredited programs that combine a strong theoretical foundation with real-world application. This blend equips graduates with the knowledge and confidence to excel in various nursing specialties.
            Potters Nursing College believes in supporting students beyond the classroom. They offer personalized mentorship opportunities, ensuring each student receives the guidance they need to thrive. Their commitment extends to career services, where graduates receive assistance in finding fulfilling positions within the healthcare system. From fostering academic excellence to providing career support, Potters Nursing College prepares students to make a lasting impact on the lives of patients and communities.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Rans Elliott Nursing College</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">In the heart of Koforidua, Ghana, Rans Elliott Nursing College stands as a pillar of excellence in healthcare education. Renowned for its innovative approach and dedication to student success, the college cultivates a stimulating learning environment. Their faculty combines extensive experience with a passion for mentorship, guiding students through accredited programs that blend theory and practice seamlessly. Rans Elliott offers a unique learning experience with options for both traditional classroom instruction and distance learning, allowing students to choose the path that best suits their needs.
            Rans Elliott Nursing College's commitment extends beyond academics. They prioritize individual student success through dedicated mentorship programs and a supportive learning community. Their career services department actively connects graduates with rewarding opportunities within the Ghanaian healthcare system. By equipping students with the knowledge, skills, and confidence to thrive in their careers, Rans Elliott empowers them to become compassionate and skilled nurses, prepared to make a lasting impact on the lives of patients and communities.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>

<div id="institutionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('institutionModal')">&times;</span>
        <h2 id="institutionName">Withrow Nursing College</h2>
        <img id="institutionLogo" src="" alt="Logo" class="modal-logo">
        <p id="institutionDescription">Withrow Nursing College, a cornerstone of healthcare education in Kumasi, Ghana, cultivates a supportive and engaging learning environment for future nurses. Their experienced faculty, passionate about guiding students towards successful careers, utilizes innovative teaching methods. Accredited programs combine a strong theoretical foundation with practical application through simulations, clinical rotations in respected hospitals, and advanced skills labs. This ensures graduates are well-equipped with the knowledge and confidence to excel in various nursing specialties.
            Withrow Nursing College extends its commitment beyond academics. They prioritize individual student success through dedicated mentorship programs, fostering a sense of community and growth. Additionally, their career services department actively assists graduates in securing rewarding positions within the Ghanaian healthcare system. By preparing students not only for their careers but also for leadership roles, Withrow Nursing College empowers them to make a lasting impact on the lives of patients and communities.</p>
        <button onclick="openModal('voucherModal')">Buy Voucher</button>
        <button>Apply</button>
    </div>
</div>



<!-- Modal for Voucher Details -->
<div id="voucherModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('voucherModal')">&times;</span>
        <h2>Buy Voucher</h2>
        <form id="voucherForm">
            <label for="userName">Name:</label>
            <input type="text" id="userName" name="userName" required><br><br>
            <label for="userEmail">Email:</label>
            <input type="email" id="userEmail" name="userEmail" required><br><br>
            <button type="button" onclick="openModal('paymentModal')">Confirm Payment</button>
        </form>
    </div>
</div>

<!-- Modal for Payment Confirmation -->
<div id="paymentModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('paymentModal')">&times;</span>
        <h2>Confirm Payment</h2>
        <p>Confirm payment of ₵10 for application voucher</p>
        <button>Confirm</button>
    </div>
</div>






    <div class="Fcontainer">
      <div class="p1">
          <div class="d1">
              <div class="left">
                  <span id="ready">Ready for another project?</span>
                  <span id="start">Lets Get Started!!</span>
              </div>
              <div class="right">
                  <button class="footerBTN"><span>Contact us<ion-icon name="earth-outline"></ion-icon></span></button>
              </div>
          </div>
          <div class="d2">
              <div class="sub1">
                  <span id="name">TERTIARY HUB</span>
                  <span id="content">© 2024</span>
              </div>
              <div class="sub1">
                <span id="head">Navigation</span>
                <a href="index.html"><span id="content">Home</span></a>
                <a href="login-signup.html"><span id="content">Login/SignUp</span></a>
            </div>
            <div class="sub1">
                <span id="head">Company</span>
                <a href="about us.html"><span id="content">About us</span></a>
                <a href="contact us.html"><span id="content">Our Contacts</span></a>
            </div>
            <div class="sub1">
                <span id="head">Services</span>
                <a href="UNIs.html"><span id="content">Tertiaries</span></a>
                <a href="WASSCE Checker.html"><span id="content">WASSCE Checker</span></a>
            </div>
              <div class="sub2">
                  <span id="head">Follow us on</span>
                  <div class="logos">
                      <div class="cir"><ion-icon name="logo-facebook"></ion-icon></div>
                      <div class="cir"><ion-icon name="logo-twitter"></ion-icon></div>
                      <div class="cir"><ion-icon name="logo-instagram"></ion-icon></div>
                      <div class="cir"><ion-icon name="logo-linkedin"></ion-icon></div>
                      <div class="cir"><ion-icon name="mail-outline"></ion-icon></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <div class="credit">By <strong>The Codecleavers</strong></div>

    <script src="/js/tertiaries-script"></script>
</body>
</html>